{% extends 'iot/base.html'  %}
{% comment %} {% include   %} {% endcomment %}
{% block title_block  %}
   <h1>All Students</h1>
   <p>Here's the Students' Information Page </p>
{% endblock  %}
{% block main_block  %}


   <table border=1 >
      
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Track </th>
      <th>City</th>
      <th>Graduated?</th>
      
      {% for st in students %} 
      <tr>
         <td><a href=/iot/student/{{st.id}}>{{st.fname}}</a></td>
         <td>{{st.lname}}</td>
         <td>{{st.age}}</td>
         <td>{{st.track }}</td>
         <td>{{st.city}}</td>
         <td>{{st.is_graduate}}</td>
      </tr>
      {% endfor %}
      
   </table>
{% endblock  %}
